
<div>
  <h1> User Dashboard for <%= current_user.name %> </h1>
</div>
<hr>
<div>
  <div class = "col-xs-9">
    <div class = "avatar">
      <img src="<%=@user.avatar%>">
    </div>
    <br>
    <%= link_to('Edit your profile info', edit_user_path(@user), :class => 'btn btn-large btn-primary')  %>
    <br>
    <br>
    <div class = "user-info">
      <h3>City: <%= @user.city %> </h3>
    </br>
    </br>
      <h3>Sports: <%= @user.sports %> </h3>
    </br>
    </br>
      <h3>Positions: <%= @user.positions %> </h3>
    </br>
    </br>
      <h3>Stats: <%= @user.stats %> </h3>
    </br>
    </br>
      <h3>Bio: <%= @user.bio %> </h3>
    </br>
  </div>
</div>
    </br>
    </br>
    </br>
    </br>
    </br>
  <div class="container">
	<div class="row">
    <div id="custom-search-input">
      <div class="input-group col-xs-10">
          <input type="text" class="  search-query form-control" placeholder="Search for Coaches by Name, Zip Code, or Sport" />
          <span class="input-group-btn">
              <button class="btn" type="button">
                  <span class=" glyphicon glyphicon-search"></span>
              </button>
          </span>
      </div>
    </div>
	</div>
</br>
</br>
</div>
  <div class="coach-display">
    <h3> Coaches: </h3>
    </br>
    <% @coach.each do |c| %>
      <div class = "col-xs-4">
        <div class = "coach-pic">
          <%= link_to user_path(c) do %>
            <img src="<%=c.avatar%>">
          <% end %>
        </div>
        <div class = "coach-text">
          <a>
            <h4> <%= link_to c.name, user_path(c) %> </h4>
          </a>
          <h5> Sports: <%= c.sports %> </h5>
          <h5> Zip Code: <%= c.zip_code %> </h5>
        </div>
        </br>
        </br>
      </div>
    <% end %>

  </div>
