
<h1> User Dashboard for <%= current_user.name %> </h1>
</br>
<div>
  <div class = "col-xs-6">
    <div class = "avatar">
      <img src="<%=@user.avatar%>">
    </div>
    <div class = "user-info">
      <h5>City: <%= @user.city %> </h5>
    </br>
    </br>
      <h5>Positions: <%= @user.positions %> </h5>
    </br>
    </br>
      <h5>Stats: <%= @user.stats %> </h5>
    </br>
    </br>
      <h5>Bio: <%= @user.bio %> </h5>
    </br>
    </br>
    </div>
  </div>
