
<h1> Listing facilities </h1>

<hr>
<div>
  <% @facilities.each do |fac| %>
      <div class = "col-xs-6">
        <div class = "fac-pic">
          <%= link_to facility_path(fac) do %>
            <img src= "<%= fac.img_url %>">
          <% end %>
        </div>
        <div class = "fac-name">
          <a>
            <h4> <%= link_to fac.name, facility_path(fac) %> </h4>
          </a>
        </br>
          <h5> <%= link_to fac.address, facility_path(fac) %> </h5>
        </br>
        <%= commontator_thread(fac) %>
        </br>
        </div>
      </div>
  <% end %>
</div>
