<h1> <%= @facility.name %> </h1>
<hr>
  <div class="show-pic">
    <img src= "<%= @facility.img_url %>">
  </div>
  <br>
  <p class="fac-desc"> <%= @facility.description %> </p>
  <div class= "gym-text">
    <hr>
    <h3> Address: <%= @facility.address %> </h3>
    <br>
    <h3> Contact: <%= @facility.contact %> </h3>
    <br>
    <br>
    <br>
    <h4> <%= link_to "Visit their website", @facility.url %> </h4>
    <br>
    <br>
  </div>
